<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Career</title>
</head>

<body>
  {{> header}}

  <main class="career">
    <h1>Career page in page folder !!!</h1>
  </main>


  <script type="module" src="/src/career.ts"></script>
</body>

</html>