<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Index</title>
</head>

<body>
  {{> header}}

  <main class="main">
    <h1>main page !!!</h1>

    <button>btn</button>

    <image src="./image-test.jpg" alt="test" width="200"></image>
  </main>

  <h2>Heading 2</h2>
  <embed type="image/svg+xml" src="/vite.svg" />


  <script type="module" src="./src/main.ts"></script>
</body>

</html>